<div class="mt-4">
    <h3 class="margin-header">Đăng khoá học</h3>
    <form method="post" action="/courses/done">
        <div class="form-group">
            <label for="name">Tên</label>
            <input class="form-control" name="name">
        </div>
            <div class="form-group">
            <label for="description">Mô tả</label>
            <input class="form-control" name="description">
        </div>
        <div class="form-group">
            <label for="image">Ảnh</label>
            <input class="form-control" name="image">
        </div> 
        <div class="form-group">
            <label for="videoId">Video ID</label>
            <input class="form-control" name="videoId">
        </div>                     
        <button type="submit" class="btn btn-primary">Thêm khoá học</button>
    </form>
</div>