.card-space {
  margin-top: 20px; }

.logo-config {
  width: 40px;
  height: 40px; }

.logo-size {
  width: 80%; }

.course-name {
  text-decoration: none;
  color: black; }

.course-name:hover {
  text-decoration: none;
  color: black; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }

.container-margin {
  margin-top: 48px; }

.margin-header {
  margin-top: 100px; }
