<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand logo-config" href="/"><img class="logo-size" src="/img/logo.png" alt="aaa"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        {{#unless name}}
          <li>
            <a type="button" class="btn btn-light" href="/auth/login">Đăng nhập</a>
          </li>
        {{/unless}}
        {{#if name}}
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              {{name}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses/create">Đăng khoá học</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/my-courses">Khoá học của tôi</a>
            <div class="dropdown-divider"></div>
            <form action="/auth/logout?_method=DELETE" method="POST">
              <button class="dropdown-item" type="submit">Đăng xuất</button>
            </form>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>