<div class="mt-4">
    <div class="row">
            {{#each courses}}
            <div class="col-sm-4">
                <div class="course-card card card-space">
                <a href="/courses/{{this.slug}}"><img src="{{this.image}}" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <a href="/courses/{{this.slug}}" class="course-name"><h6 class="card-title">{{this.name}}</h6></a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
